@use "../../partials/shared/utility/u-variables" as *;
@use "../../partials/shared/utility/u-mixins" as m;
@use "../../partials/shared/utility/u-functions" as f;

.o-mission-list {
    @include m.flex(center, center, column);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    min-height: 100vh;
    opacity: 0;
}

.o-mission-list__items {
    max-height: 2.5rem * f.pow(1.250, 2);
    overflow: hidden;
    color: $color-primary;

    @include m.media-query("tablet") {
        max-height: 3rem * f.pow(1.250, 2);
    }

    @include m.media-query("desktop") {
        max-height: 5rem * f.pow(1.250, 2);
    }
}

.o-mission-list__container {
    @include m.flex(flex-start, center, column);
}