@use "../shared/utility/u-variables" as *;
@use "../shared/utility/u-mixins" as m;

.o-challenge {
    padding-bottom: 75vh;

    @include m.min-width(tablet) {
        padding-bottom: 100vh;
    }
}

.o-challenge__content {
    grid-column: 1 / span 12;
    position: relative;

    @include m.min-width(tablet) {
        grid-column: 2 / span 10;
    }

    @include m.min-width(desktop-large) {
        grid-column: 3 / span 8;
    }
}

.o-challenge__img-cont {
    text-align: center;
}

.o-challenge__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-block: 15vh;
}

.o-challenge__copy {
    grid-column: 1 / span 12;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include m.min-width(tablet) {
        grid-column: 7 / span 6;
    }
}

.o-challenge__copy-heading {
    padding-bottom: $spacing--01;
    border-bottom: 0.0625rem solid $color-card-border;
}

.o-challenge__copy > * + * {
    margin-top: 0.5rem;

    @include m.min-width(tablet) {
        margin-top: 1rem;
    }
}