@use "../shared/utility/u-variables" as *;
@use "../shared/utility/u-mixins" as m;

.o-project-challenge {
    @include m.grid(12);
    gap: 1rem;
    // margin-inline: 1.5rem;
    margin-bottom: 10rem;
    max-width: 100vw;

    @include m.media-query("desktop") {
        gap: unset;
        margin-inline: unset;
    }
}

.o-project-challenge__visual {
    @include m.gridSpan(1, 5);
    background: $color-card-bg;
    border: 1px solid $color-card-border;
    border-radius: $border-radius;
    aspect-ratio: 1/1;
    display: none;
    object-fit: cover;
    overflow: hidden;

    @include m.media-query("tablet") {
        display: block;
        border-radius: 1rem;
        @include m.gridSpan(1, 5);
    }

    @include m.media-query("desktop") {
        @include m.gridSpan(2, 5);
    }
}

.o-project-challenge__copy {
    @include m.gridSpan(1, 12);

    @include m.media-query("tablet") {
        @include m.gridSpan(7, 5);
    }

    @include m.media-query("desktop") {
        @include m.gridSpan(8, 4);
    }
}

.o-project-challenge__copy + .o-project-challenge__copy {
    margin-top: 10vh;

    @include m.media-query("tablet") {
        margin-top: 15vh;
    }

    @include m.media-query("desktop") {
        margin-top: 20vh;
    }
}

.o-project-challenge__heading {
    border-bottom: 0.0625rem solid $color-secondary--dark;
    padding-bottom: $spacing--half;
    margin-bottom: $spacing--02;
}