@use "../shared/utility/u-variables" as *;
@use "../shared/utility/u-mixins" as m;

.o-project-grid,
.o-project-grid__column {
    display: grid;
    gap: 1rem;
}

.o-project-grid {
    grid-template-columns: repeat(2, 1fr);
}

.o-project-grid__column {
    grid-column: auto / span 2;
    grid-template-columns: repeat(6, 1fr);
    
    @include m.min-width(tablet) {
        grid-column: auto / span 1;
    }
}

.o-project-grid__item {
    grid-column: auto / span 6;
    aspect-ratio: 1/1;
    padding: 1rem;
    background: $color-card-bg;
    border: 1px solid $color-card-border;
    border-radius: $border-radius;

    &--tall {
        @extend .o-project-grid__item;
        grid-column: auto / span 6;
        aspect-ratio: 1/1.5;
    }

    &--wide {
        @extend .o-project-grid__item;
        grid-column: auto / span 2;
        aspect-ratio: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// cards
// ===========================

// tall cards
.o-project-grid__team-intro {
    padding-block: 0.5rem 2rem;
}

.o-project-grid__team-member {
    display: flex;
    background: #252525;
    padding: 0.75rem;
    margin-block: 0.5rem;
    border-radius: 0.75rem;
}

.o-project-grid__profile-img {
    aspect-ratio: 1/1;
}

.o-project-grid__member-bio {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


// square cards
.o-project-grid__repo,
.o-project-grid__repo-cont,
.o-project-grid__tech,
.o-project-grid__tech-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0;
}

.o-project-grid__repo-cont {
    justify-content: center;
    flex-grow: 1;
}

.o-project-grid__repo-cont > .a-badge {
    margin-top: 1rem;
}

.o-project-grid__tech {
    flex-direction: row;
}

.o-project-grid__tech-icon {
    justify-content: center;
    // min-width: 5rem;
    aspect-ratio: 1/1;
    padding: 0.75rem;
    background: $color-primary--dark;
    border-radius: 0.5rem;
}

.o-project-grid__tech-icon + .o-project-grid__tech-icon {
    margin-left: 0.5rem;
}

.o-project-grid__tech-icon svg {
    min-width: 1.5rem;
    aspect-ratio: 1/1;

    @include m.min-width(tablet) {
        min-width: 2rem;
    }

    @include m.min-width(desktop) {
        min-width: 3rem;
    }
}

.o-project-grid__tech-heading {
    flex-grow: 1;
}