@use "../shared/utility/u-variables" as *;
@use "../shared/utility/u-mixins" as m;

.o-project-gallery {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
    row-gap: 6rem;
    padding-block: 1rem;

    @include m.min-width(tablet) {
        padding-block: 2rem;
    }

    @include m.min-width(desktop) {
        grid-column: 2 / span 10;
        padding-block: 3rem;
    }
}

.o-project-gallery__mockup-small {
    grid-column: 1 / span 12;
    filter: drop-shadow(4px 10px 16px rgba(50, 54, 62, 0.5));

    @include m.min-width(tablet) {
        grid-column: auto / span 6;
    }

    @include m.min-width(desktop) {
        grid-column: auto / span 6;
    }
}

.o-project-gallery__mockup-large {
    grid-column: 1 / span 12;
    filter: drop-shadow(4px 10px 16px rgba(50, 54, 62, 0.5));

    @include m.min-width(desktop) {
        grid-column: auto / span 6;
    }
}