@use "../shared/utility/u-variables" as *;
@use "../shared/utility/u-mixins" as m;

.o-proj-hero {
    position: relative;

    @include m.min-width(tablet) {
        min-height: 95vh;
    }
}

.o-proj-hero__headings {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    top: 2.5vh;

    @include m.min-width(tablet) {
        min-height: unset;
        display: unset;
        flex-direction: unset;
        justify-content: unset;
        align-items: unset;
    }
}

.o-proj-hero__img-cont {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    pointer-events: none;
}

.o-proj-hero__img {
    position: relative;
    max-width: none;
}

.o-proj-hero__scroll-arrow {
    margin-top: 2rem;
    opacity: 0.5;
}