@use "../shared/utility/u-variables" as *;
@use "../shared/utility/u-mixins" as m;

.o-project-personal {
    flex-grow: 1;
    position: relative;
}

.o-project-personal__design,
.o-project-personal__front-end,
.o-project-personal__back-end {
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    width: 11rem;
    aspect-ratio: 1/1;
    background: #eef0f230;
    border-radius: 10rem;
    color: $color-secondary--dark;
    @include m.flex(center, center);
}


.o-project-personal__design {
    transform: translate(-50%, -85%);
}

.o-project-personal__front-end {
    transform: translate(-90%, -15%);
}

.o-project-personal__back-end {
    transform: translate(-10%, -15%);
}