@use "../utility/u-variables" as *;
@use "../utility/u-mixins" as m;

// Headings
// ===========================
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-medium;
    font-size: 1.5rem;
    line-height: 1.2;

    @include m.min-width(tablet) {
        font-size: 2rem;
    }

    @include m.min-width(desktop) {
        font-size: 2.5rem;
    }

    @include m.min-width(desktop-large) {
        font-size: 3rem;
        line-height: 1.33;
    }
}

// Copy
// ===========================
p {
    font-size: 1.15rem;
    line-height: 1.5;
    word-wrap: normal;

    @include m.min-width(tablet) {
        font-size: 1.25rem;
    }

    @include m.min-width(desktop) {
        font-size: 1.5rem;
    }

    @include m.min-width(desktop-large) {
        font-size: 2rem;
    }
}

.p--small {
    @extend p;
    font-size: 1rem;
    line-height: 1.33;

    @include m.min-width(tablet) {
        font-size: 1.15rem;
    }

    @include m.min-width(desktop) {
        font-size: 1.25rem;
    }

    @include m.min-width(desktop-large) {
        font-size: 1.33rem;
    }
}

// Links
// ===========================
a {
    text-decoration: none;
}