@use "../shared/utility/u-variables" as *;
@use "../shared/utility/u-mixins" as m;

.o-bio {
    @include m.grid(12);
    margin-bottom: 10rem;

    &--pad-top {
        @extend .o-bio;
        margin-top: 7rem;
    }

    @include m.media-query("desktop") {
        gap: unset;
        margin-inline: unset;
    }
}

.o-bio__heading {
    max-width: fit-content;
}

.o-bio__span {
    display: none;
}

.o-bio__left {
    @include m.gridSpan(1, 12);

    @include m.media-query("desktop") {
        @include m.gridSpan(1, 8);
    }
}

.o-bio__heading-container {
    @include m.flex(flex-end, flex-start, column);
    min-height: 37.5vh;
}

.o-bio__body {
    margin-top: $spacing--02;
}