@use "../shared/utility/u-mixins" as m;

.o-about__content {
    grid-column: 1 / span 12;

    @include m.min-width(desktop) {
        grid-column: 2 / span 10;
    }
}

.o-about-hero__link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 6rem;
}

.o-about-hero__link-list > * + * {
    margin-left: 0.5rem;
}

.o-about-hero__gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;

    @include m.min-width(desktop) {
        gap: 1rem;
    }
}

.o-about-hero__image {
    grid-column: auto / span 6;
    order: 1;
    border-radius: 0.5rem;
    width: 100%;

    @include m.min-width(desktop) {
        grid-column: auto / span 3;
        order: 1;
    }

    &--primary {
        @extend .o-about-hero__image;
        grid-column: auto / span 12;
        order: 0;

        @include m.min-width(desktop) {
            grid-column: auto / span 6;
            order: 1;
        }
    }
}