@use "../shared/utility/u-variables" as *;
@use "../shared/utility/u-mixins" as m;

.o-hero {
    overflow: hidden;
}

.o-hero__intro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    margin-inline: auto;
}

.o-hero__heading-main {
    z-index: 10;
    font-size: 3.5rem;
    line-height: 3rem;
    align-self: center;
    margin-block: $spacing--01;
    white-space: nowrap;

    &--stretch {
        @extend .o-hero__heading-main;
        letter-spacing: 0.05rem;
    }

    @include m.media-query("tablet") {
        font-size: 8rem;
        line-height: 6rem;

        &--stretch {
            letter-spacing: 0.16rem;
        }
    }

    @include m.media-query("desktop") {
        font-size: 13rem;
        line-height: 10rem;

        &--stretch {
            letter-spacing: 0.23rem;
        }
    }
}

.o-hero__sub {
    max-height: 2rem;
    overflow: hidden;
}

.o-hero__sub-container {
    animation-name: heroSub;
    animation-duration: 7.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.75,0,.25,1);
}

@keyframes heroSub {
    33% {
        transform: translateY(-25%);
    }
    66% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-75%);
    }
}