@use "../utility/u-variables" as *;
@use "../utility/u-mixins" as m;

.m-content-panel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 998;
    @include m.grid(12);
}

.m-content-panel__container {
    grid-column: 1 / span 12;

    @include m.min-width(desktop) {
        grid-column: 8 / span 5;
    }
}

.m-content-panel__modal {
    margin-left: auto;
    max-width: fit-content;
    max-height: 100vh;
    overscroll-behavior: contain;
    position: relative;
    width: 100%;
    height: 100%;
    background: $color-card-bg;
    border-left: 0.0625rem solid $color-card-border;
    overflow-y: scroll;
    padding: $spacing--02;
    padding-block: 8rem;
}

.m-content-panel__close-icon {
    position: fixed;
    bottom: 2.5rem;
    right: $spacing--02;
    cursor: pointer;
    border: 0.0625rem solid $color-card-border;
    border-radius: 50%;
    transition: scale 150ms ease-in-out;
    z-index: 99;
    padding: 1rem;
    background: $color-primary--dark;

    &:hover {
        scale: 1.1;
    }

    @include m.min-width(desktop) {
        bottom: unset;
        top: 2.5rem;
    }
}

.m-content-panel__section {
    margin-inline: auto;
    max-width: 35rem;
}

.m-content-panel__section + .m-content-panel__section {
    margin-block: 2rem;

    @include m.min-width(tablet) {
        margin-block: 3rem;
    }
}

.m-content-panel__section > * + * {
    margin-top: 0.5rem;
}

.m-content-panel__copy-heading {
    padding-bottom: $spacing--01;
    margin-bottom: $spacing--01;
    border-bottom: 0.0625rem solid $color-card-border;
}

