@use "../utility/u-variables" as *;
@use "../utility/u-mixins" as m;

.m-content-grid {
    @include m.grid(2, false, $spacing--01);
    padding-top: $spacing--02;

    &--pad-block {
        @extend .m-content-grid;
        margin-block: 25vh;
    }

    &--pad-bottom {
        @extend .m-content-grid;
        margin-bottom: 25vh;
    }

    &--pad-top {
        @extend .m-content-grid;
        margin-top: 25vh;
    }

    &--project-list {
        @extend .m-content-grid;
        padding-block: 15vh;
    }
}

.m-content-grid__column {
    grid-column: auto / span 2;
    @include m.grid(6, false, $spacing--01);
    
    @include m.media-query("tablet") {
        grid-column: auto / span 1;
    }
}

.m-content-grid__spacer {
    pointer-events: none;
    min-height: 40vh;
}