@use "../utility/u-variables" as *;
@use "../utility/u-mixins" as m;

// Into Container
// ===========================
.m-intro-container {
    text-wrap: balance;
    @include m.flex(center, center, column);

    &--vh100 {
        @extend .m-intro-container;
        min-height: 100vh;
    }

    &--md {
        @extend .m-intro-container;
        min-height: 50vh;
    }
}