@use "../utility/u-variables" as *;
@use "../utility/u-mixins" as m;

.m-link-list {
    margin-block: $spacing--02;
    @include m.flex(center, center);

    @include m.media-query("tablet") {
        margin-block: $spacing--03;
    }

    &--vertical {
        @include m.flex(center, center, column);
    }

    &--card {
        @include m.grid(2);
        gap: $spacing--half;
        width: 100%;
    }
}

.m-link-list > * + * {
    margin-left: $spacing--half;
}

.m-link-list--vertical > * + * {
    margin-top: $spacing--half;
}