@use "../utility/u-variables" as *;
@use "../utility/u-mixins" as m;

.m-project-card {
    width: 100%;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.m-project-card__link {
    display: block;
    height: 100%;
    width: 100%;
    margin-block: 1rem;
}

.m-project-card__title,
.m-project-card__label {
    font-size: 1rem;
    font-weight: $font-regular;
    text-align: center;

    @include m.min-width(tablet) {
        font-size: 1.15rem;
    }

    @include m.min-width(desktop) {
        font-size: 1.25rem;
    }

    @include m.min-width(desktop-large) {
        font-size: 1.5rem;
    }

    &--small {
        @extend .m-project-card__label;
        font-size: 1.15rem;
        color: $color-secondary;
    }

    
}

.m-project-card img {
    max-width: 100%;
}