// Typography
// ===========================
// font family
$font-primary: 'Roboto', sans-serif;
$font-primary--condensed: 'Roboto Condensed', sans-serif;
// font weight
$font-regular: 400;
$font-medium: 500;
$font-heavy: 700;

// Color 
// ===========================
$color-primary:#eef0f2;
$color-primary--dark:#0f0f0f;
$color-secondary:#6E6E73;
$color-secondary--dark:#1a1a1d;
// cards
$color-card-bg: #151515;
$color-card-border: #1D1D21;
// other
$color-green: #85EE74;
$color-yellow: #EEE274;
$color-red: #EE7474;
$color-purple: #C774EE;
$color-blue: #74B3EE;

// Border
// ===========================
$border-radius: 0.5rem;



// Spacing
// ===========================
$spacing--quarter: 0.25rem;
$spacing--half: 0.5rem;
$spacing--01: 1rem;
$spacing--02: 2rem;
$spacing--03: 3rem;
$spacing--04: 4rem;
$spacing--05: 5rem;