@use "../../shared/utility/u-variables" as *;
@use "../../shared/utility/u-mixins" as m;

.o-process {
    height: 100%;
    width: 100%;
    padding: 1rem;

    @include m.min-width(tablet) {
        padding: 2rem;
    }

    @include m.min-width(desktop) {
        padding: 3rem;
    }
}

.o-process__tab-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.o-process__tab + .o-process__tab {

    @include m.min-width(tablet) {
        margin-left: 0.5rem;
    }
    
}

.o-process__heading {
    padding-block: 1.5rem 1rem;

    @include m.min-width(tablet) {
        padding-block: 2rem 1rem;
    }

    @include m.min-width(desktop) {
        padding-block: 3rem 2rem;
    }
}

.o-process__copy {
    font-size: 1.25rem;
    line-height: 1.33;

    @include m.min-width(tablet) {
        font-size: 1.5rem;
    }
}

.js-process-btn {
    cursor: pointer;
}