@use "../../shared/utility/u-variables" as *;
@use "../../shared/utility/u-mixins" as m;

.o-project-code {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.6;
    transition: all 0.25s ease;

    &:hover {
        opacity: 1;
    }
}

.o-project-code__pre {
    width: 80%;
    height: 100%;
    font-size: 1.15rem;
    line-height: 1.33;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    transition: top .15s ease-in-out;
    overflow: hidden;

    @include m.min-width(tablet) {
        transform: translate(-50%, 0);
    }

    &--vert {
        @extend .o-project-code__pre;
        width: fit-content;
        height: 80%;
        top: 50%;
        left: 50%;
        border-radius: 1rem;
        transform: translate(-10%, -50%);
    }
}

.o-project-code__pre code.hljs {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: $color-primary--dark;
    padding: 0.5rem 2.5rem;
    overflow: hidden;
}