@use "../utility/u-variables" as *;

.s-section-wrapper {
    max-width: 1512;
    margin: 0 auto;
    padding-inline: 2rem;

    &--theme-dark {
        @extend .s-section-wrapper;
        background: $color-primary--dark;
        color: $color-primary;
    }
}