@use "../utility/u-variables" as *;
@use "../utility/u-mixins" as m;

// Top Level Section
// ===========================
.s-section {
    @include m.grid(12);
	position: relative;

    &--theme-light {
		@extend .s-section;
        @include m.theme("light");
    }
}

// Section Content
// ===========================
.s-section__content {
	grid-column: 1 / span 12;
	position: relative;
	padding-inline: $spacing--01;
	padding-block: $spacing--half;
	width: 100%;
	max-width: 70rem;
	margin-inline: auto;

	@include m.media-query("tablet") {
        grid-column: 2 / span 10;
		padding-inline: unset;
    }

    @include m.media-query("desktop") {
        grid-column: 3 / span 8;
    }

	&--wide {
		@extend .s-section__content;
		width: 100%;
		max-width: 80rem;
		margin-inline: auto;

		@include m.media-query("tablet") {
			grid-column: 1 / span 12;
			padding-inline: $spacing--01;
		}

		@include m.media-query("desktop") {
			grid-column: 2 / span 10;
		}
	
		@include m.media-query("desktop-wide") {
			grid-column: 3 / span 8;
		}
	}

	&--full {
		@extend .s-section__content;
		max-width: none;
		margin-inline: unset;

		@include m.media-query("tablet") {
			grid-column: 1 / span 12;
            padding-inline: $spacing--02;
		}
	}
}