@use "../../utility/u-variables" as *;
@use "../../utility/u-mixins" as m;

footer {
    margin-top: $spacing--02;
}

.o-footer {
    grid-column: 1 / span 12;
    @include m.flex(center, center, column);
    background: $color-card-bg;
    border: 0.0625rem solid $color-card-border;
    border-radius: 1rem;
    margin: $spacing--01;
    padding: $spacing--02;
}

.o-footer__email {
    padding-block: $spacing--03;
}

.o-footer__hr {
    width: 75%;
    border: 0.0625rem solid $color-card-border;
    border-bottom: transparent;
}

.o-footer__link-list {
    @include m.flex(center, center);
    padding-block: $spacing--03;
}

.o-footer__link-list > li + li {
    margin-left: $spacing--01;
}

.o-footer__copyright-container {
    padding-block: $spacing--01;
    color: $color-secondary;
    @include m.flex(space-between, center)
}