@use "../utility/u-variables" as *;
@use "../utility/u-mixins" as m;

.a-card,
.a-card__headings {
    @include m.flex(space-between, center, column);
}

.a-card {
    grid-column: auto / span 6;
    aspect-ratio: 1/1;
    padding: $spacing--01;
    padding-bottom: 0;
    background: $color-card-bg;
    border: 1px solid $color-card-border;
    border-radius: $border-radius;
    transition: all 100ms ease;
    position: relative;
    color: $color-primary;
    overflow: hidden;

    // ! change this to be a mixin or something that is not hard coded
    @include m.media-query("tablet") {
        border-radius: 1rem;
    }

    @include m.media-query("desktop") {
        border-radius: 1rem;
    }
    

    &--tall {
        @extend .a-card;
        grid-column: auto / span 6;
        aspect-ratio: 1/1.5;
    }

    &--wide {
        @extend .a-card;
        grid-column: auto / span 2;
        aspect-ratio: unset;
        padding: $spacing--01;

        @include m.flex(center, flex-start, column);

        @include m.media-query("phone-wide") {
            @include m.flex(space-between, center, row);
        }

        @include m.media-query("tablet") {
            padding: $spacing--02;
        }
    }

    &--img-full {
        @extend .a-card;
        padding: 0;
    }

    &:hover {
        background: #181818;
        cursor: pointer;
    }

    &:hover::before {
        

        @include m.media-query(desktop) {
            border: 0.0625rem solid #1d1d2150;
            background: #0f0f0f50;
        }
        
    }

    
}

.a-card::before {
    content: "+";
    position: absolute;
    right: $spacing--01;
    bottom: $spacing--01;
    aspect-ratio: 1/1;
    padding: $spacing--half $spacing--01;
    color: $color-secondary;
    @include m.flex(center, center);
    border-radius: 5rem;
    border: 0.0625rem solid #1d1d2150;
    background: #0f0f0f50;    
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    transition: all 100ms ease;

    @include m.media-query(desktop) {
        bottom: $spacing--01;
        border: 0.0625rem solid transparent;
        background: transparent;
    }
}

.a-card__headings {
    padding-top: $spacing--01;

    &--wide {
        text-align: center;
        flex-grow: 1;
    }
}

.a-card__content {
    flex-grow: 1;
    min-width: fit-content;
    width: 70%;
    max-width: 100%;
    @include m.flex(center, center, column);

    @include m.media-query(tablet) {
        width: 60%;
    }

    &--img {
        flex-grow: 1;
        @include m.flex(center, flex-end);
    }
}

.a-card__content--img-full {
    width: 100%;
    object-fit: cover;
}

// disabled hover card
// ===========================
.a-card-inactive {
    &:hover {
        // background: $color-card-bg;
        cursor: default;
    }

    &::before {
        display: none;
    }
}


.a-card__icon {
    scale: 0.75;

    @include m.min-width(tablet) {
        scale: 1.3;
    }
}