@use "../utility/u-variables" as *;
@use "../utility/u-mixins" as m;

.a-heading {
    font-weight: $font-medium;
    font-size: 1.5rem;
    line-height: 1.2;

    &--highlight {
        @extend .a-heading;
        color: $color-secondary;
    }

    &--large {
        font-family: $font-primary--condensed;
        font-weight: $font-heavy;
        font-size: 3rem;
        line-height: 1.2;
        text-transform: uppercase;

        @include m.min-width(tablet) {
            font-size: 4.5rem;
        }
    
        @include m.min-width(desktop) {
            font-size: 5rem;
        }
    
        @include m.min-width(desktop-large) {
            font-size: 6rem;
        }
    }

    @include m.min-width(tablet) {
        font-size: 2rem;
    }

    @include m.min-width(desktop) {
        font-size: 2.5rem;
        line-height: 1.33;
    }

    @include m.min-width(desktop-large) {
        font-size: 3rem;
    }
}

.a-heading-wrap {
    max-width: 100%;

    @include m.min-width(tablet) {
        max-width: 75%;
    }

    @include m.min-width(desktop) {
        max-width: 60%;
    }

    @include m.min-width(desktop-large) {
        max-width: 50%;
    }
}