@use "../utility/u-variables" as *;
@use "../utility/u-mixins" as m;

.a-link-primary {
    color: $color-primary;
    font-size: 1.15rem;

    @include m.min-width(tablet) {
        font-size: 1.25rem;
    }

    &--dark {
        @extend .a-link-primary;
        color: $color-primary--dark;
    }

    &--highlight {
        @extend .a-link-primary;
        color: $color-secondary;
    }
}

.a-link-email {
    color: $color-primary;
    font-size: 1.5rem;

    @include m.min-width(tablet) {
        font-size: 2rem;
    }

    @include m.min-width(desktop-large) {
        font-size: 2.5rem;
    }

    &--dark {
        @extend .a-link-email;
        color: $color-primary--dark;
    }
}

.a-link--grey {
    color: $color-secondary;
}